-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: DBProject9
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `clienti`
--

DROP TABLE IF EXISTS `clienti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clienti` (
  `id_client` int(11) NOT NULL AUTO_INCREMENT,
  `tip_client` enum('PF','PJ') NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telefon` varchar(20) DEFAULT NULL,
  `data_aderare` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_client`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clienti`
--

LOCK TABLES `clienti` WRITE;
/*!40000 ALTER TABLE `clienti` DISABLE KEYS */;
/*!40000 ALTER TABLE `clienti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conturi`
--

DROP TABLE IF EXISTS `conturi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conturi` (
  `id_cont` int(11) NOT NULL AUTO_INCREMENT,
  `id_client` int(11) NOT NULL,
  `id_tip_cont` int(11) NOT NULL,
  `iban` varchar(24) NOT NULL,
  `sold` decimal(15,2) DEFAULT 0.00,
  `data_deschidere` date DEFAULT curdate(),
  `status` enum('Activ','Inchis','Blocat') DEFAULT 'Activ',
  PRIMARY KEY (`id_cont`),
  UNIQUE KEY `iban` (`iban`),
  KEY `id_client` (`id_client`),
  KEY `id_tip_cont` (`id_tip_cont`),
  CONSTRAINT `conturi_ibfk_1` FOREIGN KEY (`id_client`) REFERENCES `clienti` (`id_client`),
  CONSTRAINT `conturi_ibfk_2` FOREIGN KEY (`id_tip_cont`) REFERENCES `tipuricont` (`id_tip_cont`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conturi`
--

LOCK TABLES `conturi` WRITE;
/*!40000 ALTER TABLE `conturi` DISABLE KEYS */;
/*!40000 ALTER TABLE `conturi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalii_pf`
--

DROP TABLE IF EXISTS `detalii_pf`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalii_pf` (
  `id_client` int(11) NOT NULL,
  `nume` varchar(50) NOT NULL,
  `prenume` varchar(50) NOT NULL,
  `cnp` char(13) NOT NULL,
  PRIMARY KEY (`id_client`),
  UNIQUE KEY `cnp` (`cnp`),
  CONSTRAINT `detalii_pf_ibfk_1` FOREIGN KEY (`id_client`) REFERENCES `clienti` (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalii_pf`
--

LOCK TABLES `detalii_pf` WRITE;
/*!40000 ALTER TABLE `detalii_pf` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalii_pf` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalii_pj`
--

DROP TABLE IF EXISTS `detalii_pj`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalii_pj` (
  `id_client` int(11) NOT NULL,
  `denumire_firma` varchar(150) NOT NULL,
  `cui` varchar(20) NOT NULL,
  `nume_administrator` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_client`),
  UNIQUE KEY `cui` (`cui`),
  CONSTRAINT `detalii_pj_ibfk_1` FOREIGN KEY (`id_client`) REFERENCES `clienti` (`id_client`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalii_pj`
--

LOCK TABLES `detalii_pj` WRITE;
/*!40000 ALTER TABLE `detalii_pj` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalii_pj` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipuricont`
--

DROP TABLE IF EXISTS `tipuricont`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipuricont` (
  `id_tip_cont` int(11) NOT NULL AUTO_INCREMENT,
  `nume_produs` varchar(100) NOT NULL,
  `tip_client` enum('PF','PJ') NOT NULL,
  `taxa_administrare` decimal(10,2) DEFAULT 0.00,
  `moneda` char(3) NOT NULL DEFAULT 'RON',
  `descriere` text DEFAULT NULL,
  PRIMARY KEY (`id_tip_cont`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipuricont`
--

LOCK TABLES `tipuricont` WRITE;
/*!40000 ALTER TABLE `tipuricont` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipuricont` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transferuri`
--

DROP TABLE IF EXISTS `transferuri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transferuri` (
  `id_transfer` int(11) NOT NULL AUTO_INCREMENT,
  `id_cont_sursa` int(11) NOT NULL,
  `id_cont_destinatie` int(11) NOT NULL,
  `suma` decimal(15,2) NOT NULL,
  `mesaj_detaliu` varchar(255) DEFAULT NULL,
  `data_transfer` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_transfer`),
  KEY `id_cont_sursa` (`id_cont_sursa`),
  KEY `id_cont_destinatie` (`id_cont_destinatie`),
  CONSTRAINT `transferuri_ibfk_1` FOREIGN KEY (`id_cont_sursa`) REFERENCES `conturi` (`id_cont`),
  CONSTRAINT `transferuri_ibfk_2` FOREIGN KEY (`id_cont_destinatie`) REFERENCES `conturi` (`id_cont`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transferuri`
--

LOCK TABLES `transferuri` WRITE;
/*!40000 ALTER TABLE `transferuri` DISABLE KEYS */;
/*!40000 ALTER TABLE `transferuri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tranzactii`
--

DROP TABLE IF EXISTS `tranzactii`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tranzactii` (
  `id_tranzactie` int(11) NOT NULL AUTO_INCREMENT,
  `id_cont` int(11) NOT NULL,
  `tip_tranzactie` enum('Intrare','Iesire') NOT NULL,
  `suma` decimal(15,2) NOT NULL,
  `detalii` varchar(255) DEFAULT NULL,
  `data_tranzactie` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_tranzactie`),
  KEY `id_cont` (`id_cont`),
  CONSTRAINT `tranzactii_ibfk_1` FOREIGN KEY (`id_cont`) REFERENCES `conturi` (`id_cont`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tranzactii`
--

LOCK TABLES `tranzactii` WRITE;
/*!40000 ALTER TABLE `tranzactii` DISABLE KEYS */;
/*!40000 ALTER TABLE `tranzactii` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-16  6:53:30
